#title {
	text-align: center;
}

#table-wrapper {
	margin-left: 10%;
	margin-bottom: 5%;
	width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    align-items: center;
	border: 5px groove #8ab5bf;
}

.table-item {
	flex-basis: calc(16.666% - 20px);
	box-sizing: border-box;
	margin: 10px;
    text-align: center;
}

.table-item img {
	max-width: 100%;
	object-fit: cover;
	height: auto;
}
.table-item h3 {
    margin: 0;
}

@media (max-width: 768px) {
    #title {
        padding-top: 0%;
    }
	#table-wrapper {
		flex-direction: column;
	}
	.table-item {
        flex:100%;
        display:inline;
	}
    .table-item img{
        width: 25%;
    }
}
